/*ZEROING*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}
  
  
*,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
  
:focus,:active {
    outline: none;
}

a:focus,a:active {
    outline: none;
}
  
nav,footer,header,aside {
    display: block;
}
  
html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Raleway', sans-serif;
}
  
input,button,textarea {
    font-family: inherit;
}
  
input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: Transparent;
    color: #fff;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: 400;
}

/*ZEROING*/









.header {
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    padding-right: 170px;
}
@media (max-width: 1200px) {
    .header {
        padding-right: 30px;
    }
}
@media (max-width: 1200px) {
    .header {
        padding-right: 0px;
    }
}

.header__logo {
    padding: 23px 0px;
    margin-left: 115px;
}
@media (max-width: 1200px) {
    .header__logo {
        padding: 17px 0px;
        margin-left: 50px;
    }
}
@media (max-width: 600px) {
    .header__logo {
        padding: 17px 0px;
        margin-left: 20px;
    }
}

.header__logo img{
    width: 87px;
    height: 31px;
}
@media (max-width: 600px) {
    .header__logo img{
        width: 65px;
        height: 23px;
    }
}

.header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000;
    overflow: hidden;
    top: 77px;
}

.menu a {
    text-align: center;
    display: block;
    padding: 30px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 2px;
}
.menu a:hover {
    background-color: #EC7979;
}
.header__nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}
   
.hamb-line {
    background: #fff;
    display: block;
    height: 3px;
    position: relative;
    width: 24px;
}

.hamb-line::before,.hamb-line::after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
   .hamb-line::before {
    top: 6px;
}

.hamb-line::after{
    top: -6px;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

@media (min-width: 600px) {
    .header__nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        display: inline-block;
    }
    .menu a:hover{
        background-color: transparent;
        color: #fff;
        background-color: #EC7979;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        border-radius: 3px;
    }
    .hamb{
        display: none;
    }
}








.banner {
    position: relative;
    background-image: url(../assets/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
@media (max-width: 1200px) {
    .wrapper {
        max-width: 1022px;
    }
}
@media (max-width: 600px) {
    .wrapper {
        max-width: 318px;
        flex-direction: column;
        justify-content: center;
    }
}

.banner__logo {
    margin: 305px 0px 80px 0px;
}
@media (max-width: 1200px) {
    .banner__logo {
        margin: 229px 0px 54px 0px;
    }
}
@media (max-width: 600px) {
    .banner__logo {
        display: none;
    }
}


.banner__logo img {
    width: 170px;
    height: 55px;
}
@media (max-width: 1200px) {
    .banner__logo img {
        width: 115px;
        height: 41px;
    }
}

.banner__about {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #fff;
    max-width: 670px;
    position: relative;
    padding: 0px 0px 65px 0px;
    margin: 0px 0px 50px 0px;
}
@media (max-width: 1200px) {
    .banner__about {
        font-size: 36px;
        line-height: 42px;
        max-width: 454px;
        padding: 0px 0px 42px 0px;
        margin: 0px 0px 31px 0px;
    }
}
@media (max-width: 600px) {
    .banner__about {
        font-size: 36px;
        line-height: 42px;
        max-width: 288px;
        padding: 0px 0px 45px 0px;
        margin: 140px 0px 31px 0px;
        text-align: center;
    }
}

.banner__about::before {
    content: '';
    background-color: #fff;
    width: 170px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
}
@media (max-width: 1200px) {
    .banner__about::before {
        content: '';
        background-color: #fff;
        width: 115px;
    }
}
@media (max-width: 600px) {
    .banner__about::before {
        content: '';
        background-color: #fff;
        width: 134px;
        text-align: center;
        margin: 0px 0px 0px 76px;
    }
}

.banner__comment {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #fff;
    max-width: 270px;
    margin: 0px 0px 40px 0px;
}
@media (max-width: 1200px) {
    .banner__comment {
        font-size: 14px;
        max-width: 183px;
        margin: 0px 0px 31px 0px;
    }
}
@media (max-width: 600px) {
    .banner__comment {
        max-width: 288px;
        text-align: center;
        margin: 0px 0px 31px 0px;
    }
}

.banner__button button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 270px;
    height: 58px;
    border: 2px solid #fff;
    margin: 0px 0px 56px 0px;
}
@media (max-width: 1200px) {
    .banner__button button {
        width: 183px;
        height: 50px;
    }
}
@media (max-width: 600px) {
    .banner__button button {
        width: 100%;
        height: 50px;
    }
}

.banner__button button:hover {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 270px;
    height: 58px;
    border: 2px solid #EC7979;
    color: #EC7979;
    margin: 0px 0px 56px 0px;
}
@media (max-width: 1200px) {
    .banner__button button:hover {
        width: 183px;
        height: 50px;
    }
}
@media (max-width: 600px) {
    .banner__button button:hover {
        width: 100%;
        height: 50px;
    }
}

.banner__button button:active {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 270px;
    height: 58px;
    background-color: #EC7979;
    color: #fff;
    margin: 0px 0px 56px 0px;
}
@media (max-width: 1200px) {
    .banner__button button:active {
        width: 183px;
        height: 50px;
    }
}
@media (max-width: 600px) {
    .banner__button button:active {
        width: 100%;
        height: 50px;
    }
}

.banner__form {
    width: 470px;
    height: 450px;
    background-color: #fff;
    margin: 283px 0px 0px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1200px) {
    .banner__form {
        width: 398px;
        height: 450px;
        background-color: #fff;
        margin: 212px 0px 0px 0px;
    }
}
@media (max-width: 600px) {
    .banner__form {
        width: 288px;
        height: 381px;
        background-color: #fff;
        margin: 0px 0px 50px 0px;
    }
}

.free {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin: 38px 0px 0px 0px;
}
@media (max-width: 1200px) {
    .free {
        font-size: 18px;
        margin: 38px 0px 0px 0px;
    }
}
@media (max-width: 1200px) {
    .free {
        font-size: 14px;
        margin: 38px 0px 0px 0px;
    }
}

.free span {
    color: #EC7979;
}

.banner__form form {
    padding: 0px 30px;
}

form input {
    display: block;
    height: 40px;
    border-bottom: 2px solid #BDBDBD;
    margin: 30px 0px;
    font-size: 30px;
    width: 100%;
}

form input::placeholder {
    color: #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.form-button {
    width: 100%;
}

.form-button button {
    height: 60px;
    background-color: #EC7979;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

.form-button button:hover {
    height: 60px;
    background-color: #AB4949;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

.form-button button:active {
    height: 60px;
    background-color: #AB4949;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.61);
}



























.social {
    background-color: #F8EFEF;
}

.social__content {
    padding: 15px 30px 15px 0px;
}
@media (max-width: 1200px) {
    .social__content {
        padding: 15px 0px 15px 0px;
    }
}
@media (max-width: 600px) {
    .social__content {
        padding: 45px 0px 40px 0px;
    }
}

.social__content .title h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 30px;
}
@media (max-width: 1200px) {
    .social__content .title h3{
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 30px;
    }
}
@media (max-width: 600px) {
    .social__content .title h3{
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 30px;
        text-align: center;
    }
}

.social__content .text {
    font-family: 'Raleway', sans-serif;
    line-height: 21px;
    font-size: 18px;
    color: #86878B;
}
@media (max-width: 1200px) {
    .social__content .text {
        font-family: 'Raleway', sans-serif;
        line-height: 16px;
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    .social__content .text {
        font-family: 'Raleway', sans-serif;
        line-height: 16px;
        font-size: 14px;
        text-align: center;
    }
}

.social__link {
    display: flex;
    justify-content: space-between;
}

svg {
    width: 100%;
}

.social__link .link {
    width: 70px;
    height: 70px;
    margin: 35px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1200px) {
    .social__link .link {
        width: 64px;
        height: 64px;
        margin: 26px 10px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 600px) {
    .social__link .link {
        width: 24px;
        height: 24px;
        margin: 26px 10px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .face {
        width: 10px;
    }
}

.social__link .link:first-child {
    margin: 35px 0px 15px 0px;
}
@media (max-width: 1200px) {
    .social__link .link:first-child {
        margin: 21px 0px 15px 0px;
    }
}
@media (max-width: 600px) {
    .social__link .link:first-child {
        margin: 26px 10px 15px;
    }
}

.social__link .link:last-child {
    margin: 35px 0px 15px 0px;
}
@media (max-width: 1200px) {
    .social__link .link:last-child {
        margin: 25px 0px 15px 0px;
    }
}
@media (max-width: 600px) {
    .social__link .link:last-child {
        margin: 26px 10px 15px;
    }
}





























.tabs {
    margin-top: 100px;
}
@media (max-width: 1200px) {
    .tabs {
        margin-top: 50px;
    }
}
@media (max-width: 1200px) {
    .tabs {
        margin-top: 41px;
    }
}

.tabs__wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}
@media (max-width: 1200px) {
    .tabs__wrapper{
        max-width: 1022px;
        margin: 0 auto;
        padding: 0px 15px;
    }
}
@media (max-width: 600px) {
    .tabs__wrapper{
        max-width: 318px;
        margin: 0 auto;
        padding: 0px 15px;
    }
}

.tabs__choice {
    margin-bottom: -1px;
}

.tabs__choice button {
    width: 203px;
    height: 40px;
    background: transparent;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}
@media (max-width: 1200px) {
    .tabs__choice button {
        width: 170px;
    }
}
@media (max-width: 600px) {
    .tabs__choice button {
        width: 90px;
    }
}

.tabone {
    display: inline-block;
    border-left: 1px solid #C6CBCD;
    border-top: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 5px 5px 0px 0px;
}

.tabtwo {
    display: inline-block;
}

.tabthree {
    display: inline-block;
}

.tabs__content {
    display: flex;
    justify-content: space-between;
    border: 1px solid #C6CBCD;
}

.content-text {
    padding: 36px 39px 0px 85px;
}
@media (max-width: 600px) {
    .content-text {
        padding: 0px 0px 29px 0px;
    }
}

.tabs__content .title h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 0px 0px 80px 0px;
}
@media (max-width: 1200px) {
    .tabs__content .title h3{
        font-size: 24px;
        margin: 0px 0px 65px 0px;
    }
}
@media (max-width: 600px) {
    .tabs__content .title h3{
        font-size: 18px;
        margin: 0px 0px 20px 0px;
        padding: 30px;
        text-align: center;
    }
}

.tabs__content .content p {
    font-family: 'Raleway', sans-serif;
    line-height: 21px;
    font-size: 18px;
    margin: 0px 0px 30px 0px;
}
@media (max-width: 1200px) {
    .tabs__content .content p {
        line-height: 16px;
        font-size: 14px;
        margin: 0px 0px 38px 0px;
    }
}
@media (max-width: 600px) {
    .tabs__content .content p {
        text-align: center;
        line-height: 15px;
        font-size: 13px;
        margin: 0px 0px 15px 0px;
    }
}

.tabs__content .button button {
    width: 270px;
    height: 58px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: #EC7979;
}
@media (max-width: 1200px) {
    .tabs__content .button button {
        width: 232px;
        height: 58px;
    }
}
@media (max-width: 600px) {
    .tabs__content .button button {
        width: 243px;
        height: 50px;
    }
    .tabs__content .button {
        text-align: center;
    }
}

.tabs__content .button button:hover {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 270px;
    height: 58px;
    background-color: #AB4949
}
@media (max-width: 1200px) {
    .tabs__content .button button:hover {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 18px;
        width: 232px;
        height: 58px;
        background-color: #AB4949
    }
}

.tabs__content .button button:active {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 270px;
    height: 58px;
    background-color: #AB4949;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.61);
}
@media (max-width: 1200px) {
    .tabs__content .button button:active {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 18px;
        width: 232px;
        height: 58px;
        background-color: #AB4949;
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.61);
    }
}

.monument {
    width: 470px;
    height: 500px;
}
@media (max-width: 1200px) {
    .monument {
        width: 399px;
        height: 385px;
    }
}
@media (max-width: 600px) {
    .content-image {
        display: none;
    }
}


































.awesome {
    text-align: center;
    margin: 50px 0px 0px 0px;
}

.awesome__header .title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding: 0px 0px 55px 0px;
}
@media (max-width: 1200px) {
    .awesome__header .title {
        font-size: 24px;
    }
}
@media (max-width: 600px) {
    .awesome__header .title {
        font-size: 18px;
    }
}

.awesome__header .title::after {
    content: '';
    position: absolute;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    bottom: 0px;
    left: 50%;
    margin: 0px 0px 0px -85px;
}
@media (max-width: 1200px) {
    .awesome__header .title::after {
        content: '';
        width: 142px;
        margin: 0px 0px 0px -71px;
    }
}
@media (max-width: 600px) {
    .awesome__header .title::after {
        content: '';
        width: 134px;
        margin: 0px 0px 0px -67px;
    }
}

.awesome__header .text {
    font-family: 'Raleway', sans-serif;
    color: #86878B;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 40px 0px 90px 0px;
}
@media (max-width: 1200px) {
    .awesome__header .text {
        line-height: 16px;
        font-size: 14px;
        margin: 40px 0px 70px 0px;
    }
}
@media (max-width: 600px) {
    .awesome__header .text {
        margin: 30px 0px 70px 0px;
        padding: 0px 100px;
    }
}


.awesome__cart {
    width: 370px;
    height: 383px;
    display: inline-block;
}
@media (max-width: 1200px) {
    .awesome__cart {
        width: 317px;
        height: 318px;
    }
}
@media (max-width: 600px) {
    .awesome__cart {
        width: 317px;
        height: 300px;
    }
}

.awesome__cart .image {
    width: 92px;
    height: 92px;
    margin: 0px auto;
    border: 1px solid #EC7979;
    border-radius: 50%;
}
@media (max-width: 1200px) {
    .awesome__cart .image {
        width: 80px;
        height: 80px;
        margin: 0px auto;
        border: 1px solid #EC7979;
        border-radius: 50%;
    }
}

.image .vector {
    padding: 16px 0px 0px 0px;
}
@media (max-width: 1200px) {
    .vector {
        width: 67px;
        height: 67px;
    }
}


.awesome__cart .heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 55px 0px 35px 0px;
}
@media (max-width: 1200px) {
    .awesome__cart .heading {
        font-size: 18px;
        margin: 40px 0px 25px 0px;
    }
}

.awesome__cart .text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    padding: 10px;
}
@media (max-width: 1200px) {
    .awesome__cart .text {
        font-size: 14px;
        line-height: 16px;
    }
}




















.pricing {
    text-align: center;
    padding: 115px 0px 50px 0px;
    background-color: #F5F5F5;
}
@media (max-width: 1200px) {
    .pricing {
        padding: 100px 0px 50px 0px;
    }
}
@media (max-width: 600px) {
    .pricing {
        padding: 50px 0px 0px 0px;
    }
}

.pricing__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 0px 35px 0px;
}
@media (max-width: 1200px) {
    .pricing__title {
        font-size: 24px;
        padding: 0px 0px 35px 0px;
    }
}
@media (max-width: 600px) {
    .pricing__title {
        font-size: 18px;
        padding: 0px 0px 17px 0px;
    }
}

.pricing__line {
    width: 170px;
    height: 1px;
    margin: 50px auto;
    background: #EC7979;
}
@media (max-width: 1200px) {
    .pricing__line {
        width: 142px;
        margin: 25px auto;
    }
}
@media (max-width: 600px) {
    .pricing__line {
        width: 134px;
        margin: 25px auto;
    }
}

.pricing__subtitle {
    font-family: 'Raleway', sans-serif;
    color: #86878B;
    font-size: 18px;
    text-align: center;
    margin: 40px 0px 90px 0px;
}
@media (max-width: 1200px) {
    .pricing__subtitle {
        font-size: 14px;
        margin: 40px 0px 90px 0px;
    }
}
@media (max-width: 1200px) {
    .pricing__subtitle {
        font-size: 14px;
        margin: 40px 0px 90px 0px;
    }
}
@media (max-width: 600px) {
    .pricing__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin: 30px 0px 30px 0px;
        padding: 0px 100px;
    }
}

.pricing__list {
    width: 370px;
    text-align: center;
}
@media (max-width: 1200px) {
    .pricing__list {
        max-width: 318px;
    }
}
@media (max-width: 600px) {
    .pricing__list {
        width: 288px;
        margin-bottom: 28px;
    }
}

.pricing__list:nth-child(even) {
    margin: 0px 5px;
}
@media (max-width: 600px) {
    .pricing__list:nth-child(even) {
        margin: 0px 0px 28px 0px;
    }
}

.pricing__list h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-weight: 700;
    color: #F5F5F5;
    background-color: #333;
    padding: 18px 0px;
}
@media (max-width: 1200px) {
    .pricing__list h3 {
        font-size: 24px;
        padding: 16px 0px;
    }
}
@media (max-width: 600px) {
    .pricing__list h3 {
        font-size: 18px;
        padding: 14px 0px;
    }
}

.list-price {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #F5F5F5;
    background-color: #333;
    padding: 32px 0px;
    border-top: 2px solid #F5F5F5;
    border-bottom: 2px solid #F5F5F5;
}
@media (max-width: 1200px) {
    .list-price {
        font-size: 36px;
        padding: 28px 0px;
    }
}
@media (max-width: 600px) {
    .list-price {
        font-size: 24px;
        padding: 22px 0px;
    }
}

.list-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #333;
    padding: 14px 0px;
}
@media (max-width: 1200px) {
    .list-subtitle {
        font-size: 18px;
        padding: 12px 0px;
    }
}
@media (max-width: 1200px) {
    .list-subtitle {
        font-size: 14px;
        padding: 10px 0px;
    }
}

.list-points {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #86878B;
    background-color: #fff;
    border-bottom: 2px solid #F5F5F5;
    border-right: 2px solid #F5F5F5;
    border-left: 2px solid #F5F5F5;
    padding: 14px 0px;
}
@media (max-width: 1200px) {
    .list-points {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        color: #86878B;
        background-color: #fff;
        border-bottom: 2px solid #F5F5F5;
        border-right: 2px solid #F5F5F5;
        border-left: 2px solid #F5F5F5;
        padding: 12px 0px;
    }
}


.pricing__list:hover {
    box-shadow: 0px 0px 10px 4px rgba(51, 51, 51, 0.2);
    position: relative;
    top: -20px;
    cursor: pointer;
}































.customers {
    margin-top: 110px;
}
@media (max-width: 1200px) {
    .customers {
        margin-top: 90px;
    }
}
@media (max-width: 600px) {
    .customers {
        margin-top: 50px;
    }
}

.customers__boxtitle {
    text-align: center;
}

.customers__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 0px 55px 0px;
    position: relative;
}
@media (max-width: 1200px) {
    .customers__title {
        font-size: 24px;
        padding: 0px 0px 65px 0px;
    }
}
@media (max-width: 600px) {
    .customers__title {
        font-size: 24px;
        padding: 0px 0px 50px 0px;
    }
}

.customers__title::before {
    position: absolute;
    content: "";
    width: 170px;
    height: 1px;
    background: #EC7979;
    left: 50%;
    bottom: 0;
    margin: 0px 0px 0px -85px;
}
@media (max-width: 1200px) {
    .customers__title::before {
        width: 144px;
        margin: 0px 0px 0px -72px;
    }
}
@media (max-width: 600px) {
    .customers__title::before {
        width: 134px;
        margin: 0px 0px 0px -67px;
    }
}

.customers__subtitle {
    font-family: 'Raleway', sans-serif;
    color: #86878B;
    font-size: 18px;
    text-align: center;
    margin: 40px 0px 70px 0px;
}
@media (max-width: 1200px) {
    .customers__subtitle {
        font-size: 14px;
        margin: 30px 0px 35px 0px;
    }
}
@media (max-width: 600px) {
    .customers__subtitle {
        line-height: 16px;
        padding: 0px 100px;
    }
}

.customers__box:nth-child(even) {
    margin: 0px 5px;
}
@media (max-width: 600px) {
    .customers__box:nth-child(even) {
        margin: 30px 0px 35px 0px;
    }
}

.customers__box .text {
    max-width: 370px;
    background-color: #E2E2E2;
    color: #86878B;
    text-align: center;
    line-height: 21px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 38px 25px 37px 25px;
    border-radius: 12px;
    position: relative;
    margin-bottom: 65px;
}
@media (max-width: 1200px) {
    .customers__box .text {
        max-width: 317px;
        line-height: 16px;
        font-size: 14px;
    }
}

.customers__box .text::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 80px;
    width: 0; 
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
}
@media (max-width: 1200px) {
    .customers__box .text::after {
        left: 60px;
    }
}

.sub_text {
    display: flex;
}

.sub_text .image .portrait{
    width: 70px;
    height: 70px;
}
@media (max-width: 1200px) {
    .sub_text .image .portrait{
        width: 62px;
        height: 62px;
    }
}
@media (max-width: 600px) {
    .sub_text .image .portrait{
        width: 57px;
        height: 57px;
    }
}

.sub_text .explanation {
    margin-left: 30px;
    margin-bottom: 68px;
}


.explanation .name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 35px 0px;
}
@media (max-width: 1200px) {
    .explanation .name {
        font-size: 18px;
        padding: 0px;
        margin: 0px 0px 25px 0px;
    }
}
@media (max-width: 600px) {
    .explanation .name {
        font-size: 14px;
        margin: 0px 0px 25px 0px;
    }
}

.explanation .position {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
@media (max-width: 1200px) {
    .explanation .position {
        font-size: 16px;
    }
}
@media (max-width: 1200px) {
    .explanation .position {
        font-size: 13px;
    }
}






















.design {
    position: relative;
    text-align: center;
    background-image: url(../assets/img/design_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.design::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.design__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-top: 112px;
    margin: 0px 0px 110px 0px;
    z-index: 1;
}
@media (max-width: 1200px) {
    .design__title {
        font-size: 24px;
        padding-top: 80px;
        margin: 0px 0px 110px 0px;
    }
}
@media (max-width: 600px) {
    .design__title {
        margin: 0px 0px 90px 0px;
    }
}

.design__title::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 170px;
    height: 1px;
    text-align: center;
    margin: 60px 0px 0px -85px;
    z-index: 2;
}
@media (max-width: 1200px) {
    .design__title::after {
        content: '';
        position: absolute;
        background-color: #fff;
        width: 142px;
        height: 1px;
        text-align: center;
        margin: 60px 0px 0px -71px;
        z-index: 2;
    }
}

.design__comment {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #fff;
    margin: 0px 0px 72px 0px;
    position: relative;
    z-index: 3;
}
@media (max-width: 1200px) {
    .design__comment {
        font-size: 14px;
        margin: 0px 0px 50px 0px;
    }
}
@media (max-width: 600px) {
    .design__comment {
        font-size: 14px;
        margin: 0px 0px 50px 0px;
        padding: 0px 85px;
    }
}

.design__button button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 370px;
    height: 58px;
    border: 2px solid #fff;
    margin: 0px 0px 50px 0px;
    position: relative;
    z-index: 4;
}
@media (max-width: 1200px) {
    .design__button button {
        width: 318px;
    }
}

.design__button button:hover {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 370px;
    height: 58px;
    border: 2px solid #EC7979;
    color: #EC7979;
    margin: 0px 0px 50px 0px;
    position: relative;
    z-index: 4;
}
@media (max-width: 1200px) {
    .design__button button:hover {
        width: 318px;
    }
}

.design__button button:active {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 370px;
    height: 58px;
    background-color: #EC7979;
    color: #fff;
    margin: 0px 0px 50px 0px;
    position: relative;
    z-index: 4;
}
@media (max-width: 1200px) {
    .design__button button:active {
        width: 318px;
    }
}




















.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
    text-align: center;
}
@media (max-width: 1200px) {
    .container {
        max-width: 1022px;
    }
}
@media (max-width: 600px) {
    .container {
        max-width: 318px;
    }
}


.contact__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #000;
    text-transform: uppercase;
    position: relative;
    padding-top: 50px;
    margin: 0px 0px 110px 0px;
}
@media (max-width: 1200px) {
    .contact__title {
        font-size: 24px;
        margin: 0px 0px 95px 0px;
    }
}
@media (max-width: 600px) {
    .contact__title {
        font-size: 24px;
        margin: 0px 0px 80px 0px;
    }
}

.contact__title::after {
    content: '';
    position: absolute;
    background-color: #EC7979;
    width: 170px;
    height: 1px;
    text-align: center;
    margin: 60px 0px 0px -85px;
}
@media (max-width: 1200px) {
    .contact__title::after {
        width: 142px;
        margin: 60px 0px 0px -71px;
    }
}
@media (max-width: 600px) {
    .contact__title::after {
        width: 134px;
        margin: 50px 0px 0px -67px;
    }
}

.contact__comment {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #86878B;
    margin: 0px 0px 72px 0px;
}
@media (max-width: 1200px) {
    .contact__comment {
        font-size: 14px;
        margin: 0px 0px 30px 0px;
    }
}
@media (max-width: 600px) {
    .contact__comment {
        line-height: 16px;
        margin: 0px 0px 30px 0px;
    }
}

.contact-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
@media (max-width: 600px) {
    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
    }
}

.data {
    width: 49%;
}
@media (max-width: 600px) {
    .data {
        width: 100%;
    }
}

.message {
    width: 49%;
}
@media (max-width: 600px) {
    .message {
        width: 100%;
    }
}

.data input {
    display: block;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #BDBDBD;
    margin: 30px 0px;
    font-size: 30px;
}

.data input::placeholder {
    color: #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

textarea {
    display: block;
    width: 100%;
    height: 200px;
    border-bottom: 2px solid #BDBDBD;
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    resize: none;
}

textarea::placeholder {
    color: #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.contact__button button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 370px;
    height: 58px;
    background-color: #EC7979;
}
@media (max-width: 1200px) {
    .contact__button button {
        width: 318px;
    }
}
@media (max-width: 600px) {
    .contact__button button {
        width: 288px;
    }
}

.contact__button button:hover {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 370px;
    height: 58px;
    background-color: #AB4949
}
@media (max-width: 1200px) {
    .contact__button button:hover {
        width: 318px;
    }
}
@media (max-width: 600px) {
    .contact__button button:hover {
        width: 288px;
    }
}

.contact__button button:active {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 370px;
    height: 58px;
    background-color: #AB4949;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.61);
}
@media (max-width: 1200px) {
    .contact__button button:active {
        width: 318px;
    }
}
@media (max-width: 600px) {
    .contact__button button:active {
        width: 288px;
    }
}

.contact__button {
    padding-bottom: 50px;
}




























footer {
    text-align: center;
    background-color: #000;
    padding: 37px 0px 30px 0px;
}

.footer__link {
    max-width: 610px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 37px;
}
@media (max-width:600px) {
    .footer__link {
        max-width: 288px;
    }
    .footer__link .link .face {
        width: 15px;
    }

}

@media (max-width:600px) {
    .footer__link .link {
        width: 28px;
        height: 28px;
    }
}

.footer__text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #86878B;
}
@media (max-width: 1200px) {
    .footer__text {
        font-size: 14px;
    }
}










